* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #131316;
    color: #9394A1;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.command-menu-button{
    background-color: #131316;
    border: none;
    color: #9394A1;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 8px;
    border: 2px solid #28292F;
    transition: all .3s ease-in-out;
}

.command-menu-button:hover{
    background-color: #13131667;
    box-shadow: 0px 0px 20px 1px #2d2d35a0;
    border-radius: 12px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.command{
    background-color: #131316;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(600px, 45%, 630px);
    max-height: 22rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid #28292F;
    display: none;
    box-shadow: 0px 0px 30px 10px #11111166;
}

@media (max-width: 730px){
    .command{
        width: 85%;
    }

    .command-menu-button {
        padding: 1.1rem 1.3rem;
        font-size: 1.05rem;
    }
}

@media (max-width: 480px) {
    .command-menu-button {
        padding: 1.2rem 1.4rem;
        font-size: 1.1rem;
    }
}

#search{
    height: 100%;
    width: 100%;
}

.search-wrapper{
    height: 100%;
    width: 100%;
}

.upper{
    position: fixed;
    width: 100%;
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .3rem 1rem;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid #28292F;
}

.upper input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #D9D9DE;
    caret-color: #fff;
    font-size: .9rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.lower{
    margin-top: 3.2rem;
    height: 100%;
    padding: .65rem;
    padding-bottom: 0px;
}

.lower .gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(to bottom, transparent, #131316ef);
    pointer-events: none;
    border-radius: 0px 0px 8px 8px;
    display: block;
}

.country-card{
    border-radius: 6px;
    padding: .6rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    color: #9394A1;
    /*transition: all .2s ease-in-out; /*Optional */
}

.country-card .header{
    font-size: .925rem;
    pointer-events: none;
}

.country-card .population{
    display: none;
}

.hover{
    background-color: #1D1D21;
    color: #fff;
}
.country-cards{
    overflow-y: auto;
    max-height: 18rem;
    display: flex;
    flex-direction: column;
    padding-bottom: .65rem;
}

.hide {
    display: none;
}
