* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #101010;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.command-menu-button{
    background-color: #1a1a1a;
    border: none;
    color: #b3b1b1;
    padding: .75rem .85rem;
    cursor: pointer;
    z-index: 10;
    border-radius: 8px;
    border: 1px solid #aaaaab66;
    transition: all .3s ease-in-out;
}

.command-menu-button:hover{
    background-color: #232323;
    box-shadow: 0px 0px 20px 1px #4d4d4d66;
    border-radius: 12px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.command{
    background-color: #1a1a1a;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 45%, 650px);
    max-height: 24rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border: 1px solid #aaaaab4a;
    display: none;
    box-shadow: 0px 0px 30px 10px #11111166;
}

#search{
    height: 100%;
    width: 100%;
}

.search-wrapper{
    height: 100%;
    width: 100%;
}

.upper{
    position: fixed;
    width: 100%;
    height: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: .3rem 1rem;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid #aaaaab4a;
}

.upper input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    caret-color: #fff;
    font-size: .9rem;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.lower{
    margin-top: 3.2rem;
    height: 100%;
    padding: .65rem;
}

.lower .gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background: linear-gradient(to bottom, transparent, #1a1a1a);
    pointer-events: none;
    border-radius: 0px 0px 8px 8px;
    display: block;
}

.card{
    border-radius: 6px;
    padding: .6rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    color: #aaaaab;
    /*transition: all .2s ease-in-out; /*Optional */
}

.card .header{
    font-size: .925rem;
    pointer-events: none;
}

.card .population{
    display: none;
}

.hover{
    background-color: #232323;
    color: #fff;
}
.user-cards{
    overflow-y: auto;
    max-height: 20rem;
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}
